@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* Product */

.product-card {
  border: 1px solid #ccc;
  padding: 0.5rem; /* Adjust padding for smaller cards */
  margin: 0.5rem;
  text-align: center;
  box-shadow: 0 0 5px 6px #f0f0f0;
  width: 300px; /* Set a fixed width for smaller cards */
}
.product-card:hover{
  box-shadow: 0 0 6px 6px #c0c0c0;
}

.product-image {
  max-width: 100%;
  height: auto;
}

.product-card h3 {
  margin-top: 0.5rem;
  font-size: 1rem; /* Adjust font size for smaller cards */
}

.product-card p {
  font-weight: bold;
  color: #e74c3c;
  margin-bottom: 0.5rem; /* Adjust margin for smaller cards */
}
.rating {
  display: flex;
  align-items: center;
  justify-content: center;
}

.stars {
  margin-right: 5px;
  font-size: 20px;
}
